*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* ############### html element styling ############### */
html{
    font-size: 62.5%;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}
p,li{
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}
h1,h2,h3{
    font-weight: 500;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}
/* utility classes */
.container{
    max-width:800px;
    width:90%;
    height:auto;
    margin:0 auto;
}
.text-light{
    color:#f4f4f4;
}
.text-black{
    color:#333;
}
.text-gray{
    color:#555;
}
.text-blue{
    color:rgb(0, 136, 255);
}
.bg-dark{
    background-color: #263238;;
}
.lg-heading{
    font-size: 2.5rem;
}
.md-heading{
    font-size: 1.5rem;
}
.btn{
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    padding:0.5em 1.5em;
    margin:0.5em 0;
    transition:0.5s;
}
.btn-primary{
    background-color: white;
    border-radius: 10em;
}
.btn-primary:hover{
    background-color: #ddd;
    transition:0.5s;
}
.btn-secondary{
    background-color: white;
    border-radius: 1.5em;
    border:2px solid rgb(0, 136, 255);
}
.btn-secondary:hover{
    background-color: #ddd;
    transition:0.5s;
}

/* home page */
#home{
    height:50vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../image/IMG-20251213-WA0007.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}
.navbar{
   padding: 0.5rem;
   /* border:1px solid red; */
}
.navbar .logo{
    float:left;
    margin:2px;
    font-size: 2.5rem;
}
.navbar .nav-items{
    float:right;
    margin:0;
}
.navbar .nav-item{
    display: inline-block;
    padding:1rem;
    text-transform: uppercase;
}
.navbar::after{
    content:'';
    display:block;
    clear:both;
}
.navbar a:link, .navbar a:visited{
    color:#f4f4f4;
}
.navbar a{
    padding-bottom: 0.2rem;
}
.navbar a:hover{
    border-bottom: 1px solid #f4f4f4;
}
.navbar::after{
    content:'';
    display:block;
    clear:both;
    /* border:1px solid white; */
}
.home-content{
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    color:white;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.home-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.home-content p{
    text-transform: uppercase;
}
/* showcase */
.showcase{
    width:100%;
    height:auto;
    background-color: #dddddd; 
    padding:10rem 0;   
}
.row{
    width:100%;
    height:auto;
    display:flex;
    background-color: #fff;
    box-shadow:0px 0px 20px 0px rgb(113, 113, 113);
}
.row1{
    margin-bottom:10rem;
}
.left{
    width:50%;
    height:350px;
}
.right{
    width:50%;
    height:350px;
    padding:2rem;
}
.right p{
    font-size: 1.4rem;
    text-align:justify;
}
.left img{
    display: inline-block;
    width:100%;
    height:100%;
    object-fit:cover;
    margin:0;
}
/* features */
.features{
    width:100%;
    padding:10rem 0;
}
.box{
    width:100%;
    height:auto;
    display:flex;
    box-shadow:5px 5px 20px 0px rgba(0, 0, 0, 0.486);
}
.box1{
    width:33.333%;
    height:auto;
    background-color: rgb(45, 45, 45);
    text-align:center;
    padding:2rem;
}
.box2{
    background:linear-gradient(25deg, rgb(0, 100, 188),rgb(0, 136, 255) 50%);
}
.box1 p{
    font-size: 1.4rem;
    font-weight: lighter;
}
.box1 h2{
    font-size: 1.8rem;
}
/* footer */
.footer{
    width:100%;
    background-color: #263238;
    padding:1.5rem;
    color:#fff;
    text-align: center;
}
.media-links{
    margin:0.5rem;
}
/* About */
#about{
    width:100%;
    padding:4rem 0;
}
.about-heading::after{
    content:'';
    display:block;
    border:3px solid rgb(0, 136, 255);
    width:100%;
}
.abt-wrapper{
    width:100%;
    margin-top: 2rem;
    /* border:1px solid red; */
    display:flex;
    justify-content: space-around;
}
.abt-left p::before, .abt-right p::before{
    content:'\2713';
    color:rgb(0, 136, 255);
    font-weight: bold;
    padding-right:0.5rem;
}
.abt-count{
    width:100%;
    margin:2rem 0;
    text-align: center;
    display:flex;
    justify-content: space-around;
}
.abt-count p{
    font-weight: 700;
    color:#555;
    font-size:1.4rem;
}
.banner{
    width:100%;
    background:linear-gradient(25deg, rgb(0, 100, 188),rgb(0, 136, 255) 50%);
    padding:0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:5px 5px 10px #00000057;
}
.banner p{
    font-size: 1.4rem;
    font-weight:700;
}
.btn-cta{
    display:inline-block;
    border:3px solid white;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding:0.3em 2.5em;
    text-align: center;
    text-transform:uppercase;
}
/* contact us */
.contactus{
    width:100%;
    background-color: #f7f7f7;
    padding:2rem 0;
}
.contact-row{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
}
.contact-left{
    width:49%;
    height:auto;
    padding:1rem;
    background-color: #fff;
}
.contact-left h3{
    display: inline-block;
    text-transform: uppercase;
}
.contact-left p{
    font-size: 1.2rem;
}
.contact-left .text-gray{
    font-size: 1rem;
    text-transform:uppercase;
    padding-left:1em;
    padding-top:1em;
}
.contact-left img{
    max-width:90%;
    min-height:10rem;
    object-fit: cover;
    object-position: center;
}
.form{
    width:49%;
    height:auto;
    padding:0 1rem;
    background-color: #fff;
}
.form h1{
    font-size: 3rem;
    /* font-weight: 100; */
}
.form h1::after{
    content:'';
    display:block;
    border:3px solid rgb(0, 136, 255);
}
.form label{
    font-size: 1.2rem;
    display: block;
}
.form label::after{
    content:"*";
    color:red;
}
.form input{
    width:100%;
    height:25px;
    padding:0.3rem;
}
.form-group{
     margin-bottom:0.6rem;
}
#msg{
    width:100%;
    height:12rem;
    padding:0.3rem;
}
.form-btn{
    display:block;
    background-color:rgb(0, 136, 255);
    color:white;
    font-size: 1.5rem;
    padding:0.5em 3em;
    margin:auto;
    border:none;
    outline:none;
    text-transform: uppercase;
    cursor: pointer;
}
/* media-query */
@media(max-width:500px)
{
    html{
        font-size: 40%;
    }
    .navbar .logo,.navbar .nav-items{
        display:block;
        width:100%;
        float:none;
        text-align: center;
    }
    .home-content{
        display:none;
    }
    .row{
        display:flex;
        flex-direction: column;
    }
    .left{
        width:100%;
        height:auto;
    }
    .right{
        width:100%;
        height:auto;
    }
    .box{
        display:flex;
        flex-direction: column;
        box-shadow: none;
    }
    .box1{
        width:100%;
        height:auto;
        box-shadow:2px 2px 10px 0px rgba(0, 0, 0, 0.486);
    }
    .box2{
        margin:2rem 0;
    }
    .banner{
        display:flex;
        flex-direction: column;
    }
    .contact-row{
        display:flex;
        flex-direction: column;
    }
    .contact-left{
        width:100%;
        height:auto;
        margin-bottom: 3rem;
    }
    .form{
        width:100%;
        height:auto;
    }
    .form input{
       height:auto;
    }
    #msg{
        height:10rem;
        padding:0.3rem;
    }
}
@media(min-width:500px)and(max-width:768px)
{
    html{
        font-size: 50%;
    }
    .navbar .logo,.navbar .nav-items{
        display:block;
        width:100%;
        float:none;
        text-align: center;
    }
    .row{
        display:flex;
        flex-direction: column;
    }
    .left{
        width:100%;
        height:auto;
    }
    .right{
        width:100%;
        height:auto;
    }
    .left img{
        display: inline-block;
        width:100%;
        height:100%;
        object-fit:cover;
        margin:0;
    }
    .box{
        display:flex;
        flex-direction: column;
        box-shadow:none;
    }
    .box1{
        width:100%;
        height:auto;
        box-shadow:2px 2px 10px 0px rgba(0, 0, 0, 0.486);
    }
    .box2{
        margin:2rem 0;
    }
    .banner{
        display:flex;
        flex-direction: column;
    }
    .contact-row{
        display:flex;
        justify-content: space-between;
    }
    .contact-left{
        width:49%;
        height:auto;
        margin-bottom: 3rem;
    }
    .form{
        width:49%;
        height:auto;
    }
    .form input{
       height:auto;
    }
    #msg{
        height:10rem;
        padding:0.3rem;
    }
}
@media(min-width:768px)and(max-width:1200px)
{
    html{
        font-size: 60%;
    }
}
@media(orientation:landscape) and (max-height:500px){
    #home{
        height:90vmax;
    }
}
